sport_club.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ROOT: top-level CLUB element grouping all entities and declaring keys/keyrefs that wire them together -->
    <!-- Relationships: TEAM -> COACH (via COACHID), TRAININGSESSION -> TEAM + FACILITY, BOOKING -> TRAININGSESSION, COMPETITION -> TEAM -->
    <xs:element name="CLUB">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TEAMS" type="TeamsType"/>
                <xs:element name="COACHES" type="CoachesType"/>
                <xs:element name="TRAININGSESSIONS" type="TrainingSessionsType"/>
                <xs:element name="FACILITIES" type="FacilitiesType"/>
                <xs:element name="COMPETITIONS" type="CompetitionsType"/>
                <xs:element name="BOOKINGS" type="BookingsType"/>
            </xs:sequence>
        </xs:complexType>

        <!-- KEYS -->
        <xs:key name="teamKey">
            <xs:selector xpath="TEAMS/TEAM"/>
            <xs:field xpath="ID"/>
        </xs:key>

        <xs:key name="coachKey">
            <xs:selector xpath="COACHES/COACH"/>
            <xs:field xpath="ID"/>
        </xs:key>

        <xs:key name="facilityKey">
            <xs:selector xpath="FACILITIES/FACILITY"/>
            <xs:field xpath="ID"/>
        </xs:key>

        <xs:key name="trainingKey">
            <xs:selector xpath="TRAININGSESSIONS/TRAININGSESSION"/>
            <xs:field xpath="ID"/>
        </xs:key>

        <!-- FOREIGN KEYS -->
        <xs:keyref name="teamCoachRef" refer="coachKey">
            <xs:selector xpath="TEAMS/TEAM"/>
            <xs:field xpath="COACHID"/>
        </xs:keyref>

        <xs:keyref name="trainingTeamRef" refer="teamKey">
            <xs:selector xpath="TRAININGSESSIONS/TRAININGSESSION"/>
            <xs:field xpath="TEAMID"/>
        </xs:keyref>

        <xs:keyref name="trainingFacilityRef" refer="facilityKey">
            <xs:selector xpath="TRAININGSESSIONS/TRAININGSESSION"/>
            <xs:field xpath="FACILITYID"/>
        </xs:keyref>

        <xs:keyref name="bookingTrainingRef" refer="trainingKey">
            <xs:selector xpath="BOOKINGS/BOOKING"/>
            <xs:field xpath="TRAININGSESSIONID"/>
        </xs:keyref>
    </xs:element>

    <!-- TEAMS: list of teams in the club, each holding its members and a reference (REF/idCoach) to the COACH that leads it -->
    <xs:complexType name="TeamsType">
    <xs:sequence>
        <xs:element name="TEAM" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ID" type="xs:int"/>

                    <!-- UPDATED PART -->
                    <xs:element name="REF">
                        <xs:complexType>
                            <xs:attribute name="idCoach" type="xs:int" use="required"/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="NAME" type="xs:string"/>
                    <xs:element name="MEMBERS">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="MEMBER" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="ID" type="xs:int"/>
                                            <xs:element name="NAME" type="xs:string"/>
                                            <xs:element name="AGE" minOccurs="0">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:int">
                                                        <xs:minInclusive value="15"/>
                                                        <xs:maxInclusive value="60"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="EMAIL" type="xs:string"/>
                                            <xs:element name="MEMBERSHIPS">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="GOLD"/>
                                                        <xs:enumeration value="SILVER"/>
                                                        <xs:enumeration value="BRONZE"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>

                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>

    <!-- COACHES: pool of coaches (ID, NAME, SPECIALTY); referenced from TEAMS to assign one coach per team -->
    <xs:complexType name="CoachesType">
        <xs:sequence>
            <xs:element name="COACH" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:int"/>
                        <xs:element name="NAME" type="xs:string"/>
                        <xs:element name="SPECIALTY" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- FACILITIES: physical venues (court, gym, field) with capacity; referenced by TRAININGSESSION via FACILITYID -->
    <xs:complexType name="FacilitiesType">
        <xs:sequence>
            <xs:element name="FACILITY" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:int"/>
                        <xs:element name="NAME" type="xs:string"/>
                        <xs:element name="LOCATION" type="xs:string"/>
                        <xs:element name="CAPACITY" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- TRAINING: scheduled practice sessions; links a TEAM (TEAMID) to a FACILITY (FACILITYID), with required equipment and time -->
    <xs:complexType name="TrainingSessionsType">
        <xs:sequence>
            <xs:element name="TRAININGSESSION" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:int"/>
                        <xs:element name="TEAMID" type="xs:int"/>
                        <xs:element name="FACILITYID" type="xs:int"/>

                        <xs:element name="EQUIPMENTS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="EQUIPMENT" type="xs:string" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="TIME" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- COMPETITIONS: events the club participates in; each is tied to one TEAM via TEAMID -->
    <xs:complexType name="CompetitionsType">
        <xs:sequence>
            <xs:element name="COMPETITION" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:int"/>
                        <xs:element name="NAME" type="xs:string"/>
                        <xs:element name="DATE" type="xs:date"/>
                        <xs:element name="TEAMID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- BOOKINGS: reservations for training slots; each BOOKING points to a TRAININGSESSION via TRAININGSESSIONID -->
    <xs:complexType name="BookingsType">
        <xs:sequence>
            <xs:element name="BOOKING" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:int"/>
                        <xs:element name="TRAININGSESSIONID" type="xs:int"/>
                        <xs:element name="TIME" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>